<div>
	<div class="row">
		<div class="col-md-4 namespace-col">
			<div class="card">
				<app-random-pic class="card-img-top"></app-random-pic>
				<div class="card-body">
					<h5 class="card-title">Network Name</h5>
					<div class="btn-group d-flex" role="group" aria-label="Buttons for interacting with the namespace">
						<button type="button" class="btn btn-secondary"><i class="fas fa-qrcode"></i> Add Friend</button>
						<button type="button" class="btn btn-secondary"><i class="fas fa-exchange-alt"></i> Switch</button>
						<button type="button" class="btn btn-secondary"><i class="fas fa-trash"></i> Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
