<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="spent-today">
        <h3>US$2.34</h3>
        <div>Spent Today</div>
      </div>
      <div class="spent-total">
        <h3>US$2.34</h3>
        <h3>US$2.34</h3>
        <div>Spent Total</div>
      </div>
      <div class="you-due">
        <h3>US$2.34</h3>
        <h3>US$2.34</h3>
        <div>Payment Due</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/04/29/01/22/farm-3358870_960_720.jpg" alt="Isaac">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>